body {
    margin: 0;
    background-color: #c6f1ff;
}
#bsd {
    color: #0e1b38;
    font-weight: bold;
    background-color: #5d7ab5;
    position: absolute;
    z-index: 100;
    padding: 3px 9px 1px 12px;
    border-radius: 5px;
    font-size: 12px;
    top: 5px;
    letter-spacing: 1px;
    left: 5px;
}
#container-heading {
    position: sticky;
    top: 0;
    background-color: #344c7c;
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
}
#header-text {
    font-size: 25px;
    color: white;
    align-self: center;
    letter-spacing: 2px;
    font-weight: bold;
}
#navigation-container {
    display: flex;
    align-items: center;
}
    #navigation-container a {
        color: white;
        text-decoration: none;
    }
    #navigation-container > .menu-items {
        overflow: hidden;
        padding: 0 10px;
        font-family: system-ui;
    }
    #navigation-container .menu-items-wrapper {
        text-align: center;
        display: flex;
    }
    #navigation-container .menu-items-wrapper a:not(:last-child) div{
        margin-right: 20px;
    }
@media screen and (max-width: 1100px) {
    #container-heading {
        padding: 30px 38px;
    }
    #header-text {
        width: 100%;
    }
    #navigation-container {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: cadetblue;
        padding: 8px;
        border-radius: 8px;
        flex-direction: column;
    }
    .menu-icon {
        cursor: pointer;
        align-self: end;
    }
    .menu-icon *:not(:last-child) {
        margin-bottom: 4px;
    }
    .menu-icon * {
        width: 26px;
        height: 4px;
        background-color: #0c3f4c;
        border-radius: 10px;
    }
    #navigation-container > .menu-items {
        padding: 0;
        margin-top: 0;
        border-radius: 3px;
        overflow: hidden;
        transition-duration: 1s;
    }
    .menu-items-toggle{
        margin-top: 8px!important;
    }
    #navigation-container .menu-items-wrapper {
        margin-bottom: -300px;
        margin-right: -160px;
        transition: 1s;
        display: block;
    }
    .menu-items-wrapper-toggle{
        margin-bottom: 0!important;
        margin-right: 0!important;
    }
    #navigation-container .menu-items-wrapper div{
        background-color: #0e1b38;
        width: 100%;
        padding: 4px;
        box-sizing: border-box;
    }
    #navigation-container .menu-items-wrapper a:not(:last-child) div{
        margin-bottom: 1px;
    }
}