body{
    margin: 0;
}
#container-heading{
    position: sticky;
    top: 0;
    background-color: #001fa5;
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
}
#header-text{
    font-size: 25px;
    color: white;
    align-self: center;
}
#navigation-container{
    display: flex;
    align-items: center;
}
#navigation-container a{
    color: white;
    text-decoration: none;
}
#navigation-container div{
    padding: 0 10px;
    font-family: system-ui;
}
#main-content .A{
    background-color: cornflowerblue;
}
#main-content .A img{
    width: 100%;
}