body {
    margin: 0;
    background-color: #c6f1ff;
}
#bsd {
    color: #0e1b38;
    font-weight: bold;
    background-color: #5d7ab5;
    position: absolute;
    z-index: 100;
    padding: 3px 9px 1px 12px;
    border-radius: 5px;
    font-size: 12px;
    top: 5px;
    letter-spacing: 1px;
    left: 5px;
}
#container-heading {
    position: sticky;
    top: 0;
    background-color: #344c7c;
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
}
#header-text {
    font-size: 25px;
    color: white;
    align-self: center;
    letter-spacing: 2px;
    font-weight: bold;
}
#navigation-container {
    display: flex;
    align-items: center;
}
    #navigation-container a {
        color: white;
        text-decoration: none;
    }
    #navigation-container div {
        padding: 0 10px;
        font-family: system-ui;
    }
#main-content .A {
    background-color: #247193;
    padding: 80px;
    display: flex;
    margin: 0;
    justify-content: space-between;
    border-radius: 0px;
    box-shadow: 0 0 20px 10px #6a6a6a85;
}
    #main-content .A div {
        width: 50%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        #main-content .A div p {
            font-size: 30px;
            text-align: justify;
            max-width: 450px;
            color: #b7c6cf;
        }
        #main-content .A div h1 {
            color: white;
            margin-bottom: 0;
        }
    #main-content .A img {
        width: 50%;
        max-width: 800px;
        border-radius: 5px;
    }
#main-content .B {
    background-color: #245393;
    height: 500px;
    box-shadow: 0 0 20px 10px #6a6a6a85;
}
@media screen and (max-width: 1000px) {
    #container-heading {
        padding: 30px 38px;
    }
    #header-text {
        width: calc(100% - 150px);
    }
    #navigation-container {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: cadetblue;
        padding: 8px;
        border-radius: 8px;
        flex-direction: column;
    }
    #main-content .A {
        flex-direction: column;
        padding: 40px;
        align-items: center;
    }
        #main-content .A div, #main-content .A img {
            width: 100%;
        }
}